body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#category-container, #products-container, #cart-container {
    background-color: #fff;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#price-output{
    text-align: right;
}

.btn.btn-light {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.btn-light:hover {
    background-color: #ff6347;
}

.product {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}